<h1>Tìm kiếm</h1>
<fieldset>
    Tên hàng hóa:
    <input id="keyword" placeholder="Tìm gì?" />
    <br />
    Giá từ:
    <input type="number" id="giaTu" />
    Giá đến:
    <input type="number" id="giaDen" />
    <br />
    <button type="button" id="btnTim" class="btn btn-success">Tìm</button>
</fieldset>
<div id="result"></div>
