@model List<Lab07.Data.Supplier>
@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách nhà cung cấp</h1>
<table class="table table-bordered">
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td>@item.Logo</td>
        </tr>
    }
</table>

